body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--dark-color);
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

:root {
  --dark-color: #2f303a;
  --main-color: #2196f3;
  --main-color-2: #757575;
  --light-color-background: #e5e5e5;
  --light-color-background2: #f5f4fa;
}

.top-line {
  /* top line bg */
  width: 1600px;
  height: 80px;
  background: #ffffff;
  margin: 0 auto;
  padding-bottom: 50px;
}

.menu-nav-list {
  /* Menu Nav */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-nav-container {
  width: 1600px;
  margin: 0 auto;
}

.logo {
  /* WebStudio */
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 75px;
}

.web-studio1 {
  /* WebStudio */
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #2196f3;
}

.web-studio2 {
  /* WebStudio */
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.menu-nav-agency {
  /* Agencja */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  color: #212121;
}

.menu-nav-portfolio {
  /* Portfolio */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  color: #212121;
}

.menu-nav-contact {
  /* Kontakt */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  color: #212121;
  display: flex;
  align-items: center;
}

.menu-nav-mail {
  /* info@devstudio.com */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.icon-envelope {
  /* envelope */
  height: 12px;
  width: 16px;
  left: 1052px;
  top: 34px;
  border-radius: 0px;
  fill: #2a2a2a;
}

.icon-envelope:hover {
  fill: #03a9f4;
}

.menu-nav-phone {
  /* +48 111 111 111 */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.icon-smartphone {
  /* smartphone */
  width: 10px;
  height: 16px;
  left: 1243px;
  top: 33px;
  border-radius: 0px;
  color: #757575;
}

.icon-smartphone:hover {
  fill: #03a9f4;
}

.ul-list-style {
  list-style-type: none;
}

.link-header-footer {
  color: #212121;
}

.link-header-footer:hover {
  color: #2196f3;
}

.link-header-footer:focus {
  color: #2196f3;
}

.main {
  background-color: #2f303a;
  background-image: url("../image/img1.8.jpg");
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  margin: auto;
}

.main-text {
  /* EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */
  position: absolute;
  width: 696px;
  height: 120px;
  left: calc(50% - 696px / 2);
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-main {
  /* Button */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  position: relative;
  background: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 41px;
}

.button-self-item:hover {
  background-color: #2196f3;
  color: rgb(236, 238, 240);
  border-radius: 2px;
  cursor: pointer;
}

.button-self-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
}

.container-advantages {
  width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container-advantages-img {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-top: 90px;
}

.flex-container-advantages-text {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.title-text-paragraph {
  /* Feature 1 */
  color: #212121;
  font-size: small;
  text-transform: uppercase;
}

.text-paragraph {
  /* Feature 1 */
  color: #757575;
  font-size: small;
}

.advantages-description {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 10;
}

.tasks {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
  margin: 0 auto;
}

.tasks-title {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.tasks-section {
  padding-bottom: 200px;
}

.team-section {
  height: 648px;
  background: #f5f4fa;
  padding-bottom: 300px;
}

.team {
  width: 1170px;
  margin: 0 auto;
}

.team-title {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.team-name {
  font-style: normal;
  font-weight: 1000;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 15px;
  padding-top: 15px;
}

.team-profession {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.icon-sm-panel {
  display: flex;
  justify-content: space-between;
}

.icon-sm {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #757575;
}

.icon-sm-color {
  /* icon-sm */
  fill: #757575;
  margin: 12px;
  width: 44px;
  height: 44px;
  left: 547px;
  top: 2139px;
}

.box-team {
  box-sizing: border-box;
  text-align: center;
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1785px;

  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients {
  width: 1170px;
  height: 184px;
  left: 215px;
  top: 2401px;
  margin: 0 auto;
}

.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
}

.clients-section {
  padding-bottom: 200px;
}

.footer {
  /* Footer bg */
  background: #2f303a;
  height: 252px;
  top: 2097px;
  left: 0px;
}

.flex-footer-studio-container {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-right: 1000px;
}

.flex-footer-portfolio-container {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-right: 1050px;
}

.text-footer {
  /* m. Warszawa, Aleje Jerozolimskie 21 */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
}

.links-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-footer-sm-panel {
  display: flex;
  justify-content: center;
}

.join-us {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.icons-footer-sm {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.icon-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.icon-footer-inn {
  fill: #ffffff;
}

.icon-footer-inn:hover {
  fill: #2196f3;
}

.button-main-filters {
  /* Button filters */
  background: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 41px;
  margin-bottom: 50px;
}

.button-filters-self-item:hover {
  background-color: #2196f3;
  color: rgb(236, 238, 240);
  border-radius: 2px;
  cursor: pointer;
}

.button-filters-self-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
}

.button-filters {
  /* filters */
  display: flex;
  justify-content: center;
  margin-top: 174px;
}

.button-all {
  margin-bottom: 50px;
}

.button-pages {
  margin-left: 8px;
}

.button-app {
  margin-left: 8px;
}

.button-design {
  margin-left: 8px;
}

.button-marketing {
  margin-left: 8px;
}

.box-portfolio {
  box-sizing: border-box;
  text-align: left;
  height: 404px;
  width: 370px;
  border-radius: [object Object]px;
  background-color: var(--white);
  border-radius: 0 0 4 4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.flex-portfolio-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.box-portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 10px;
  padding-left: 15px;
}

.box-portfolio-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 15px;
}
