.advantages {
  padding: 94px 0 47px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 354px;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 270px;
    }
    &__pic-wrap {
      background-color: $color-lorem;
    }
  }

  &__pic {
    margin-bottom: 55px;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 25px;

    @include tablet {
      margin-left: 142px;
      margin-right: 142px;
    }

    @include desktop {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  &__list-item {
    width: 270px;
  }

  &__figure {
    width: 100%;
  }

  &__title {
    color: $color-lorem;
    font-size: small;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 10px;
  }

  &__text {
    color: $color-icon;
    font-size: small;
    font-weight: 400;
    line-height: 24px;
  }
}
