.clients {
  padding: 1;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-dark;
    padding-top: 78px;
    padding-bottom: 50px;
  }

  &__logo {
    fill: $color-icon;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__box {
    width: 210px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    @include tablet {
      width: 226px;
      padding: 16px 60px;
    }

    @include desktop {
      width: 170px;
      padding: 16px 32px;
    }

    &:hover {
      border: 1px solid $color-primary;
    }

    &:hover .clients__logo {
      fill: $color-primary;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
