.contact-info {
  display: none;
  gap: 30px;
  margin-top: 32px;
  margin-bottom: 32px;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 101px;
  }

  &__item {
    display: flex;
  }

  &__link {
    font-size: small;
    font-weight: 500;
    line-height: 16px;
    color: $color-icon;

    &:hover .contact-info__icon {
      fill: $color-primary;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: $color-icon;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $color-dark;

    &:hover .contact-info__text .contact-info__icon {
      color: $color-primary;
    }
  }
}
