.footer {
  background: $color-dark-backgorund;

  &__container {
    text-align: center;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    padding: 0;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      display: flex;
    }
  }

  &__logo {
    padding-bottom: 20px;
    color: $color-black;
    font-family: Raleway;
    font-style: bold;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
  }
  &_-styles {
    color: $color-primary;
  }

  &__address {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-light;
  }
  &__address-text {
    color: $color-icon;
    font-size: small;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 9px;
    text-decoration: none;
    font-style: normal;
  }

  &__contact-list {
    list-style: none;
    margin-bottom: 10px;
  }

  &__contact {
    color: $color-text;
    text-decoration: none;
  }

  &__sm-icon-list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin-top: 20px;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__join-us {
    width: 206px;
    height: 80px;
    margin-top: 72px;
    margin-left: 70px;
  }
  &__join-us_title {
    color: $color-white;
  }

  &__social-media-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-text;

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__social-media-icon {
    fill: $color-white;
    margin: 12px;
  }
}
