body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: $color-dark;
  background: $color-white;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  width: 100%;
  padding-top: 47px;
  padding-bottom: 47px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 480px;
  
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
