.header {
    padding: 25px 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left-side {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__logo {
        margin: 0 93px 0 0;
    }
}
