.header {
  padding: 25px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__left-side {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 93px 0 0;
  }
}
