.input {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
    color: $color-dark;
    margin-top: 20px;
  }

  &__svg svg {
    position: absolute;
  }

  &__box {
    position: relative;
  }

  &__icon {
    top: 12px;
    left: 14px;
    fill: $color-dark;
  }

  &__placeholder {
    padding-top: 12px;
    padding-left: 16px;
  }

  &__check-square {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-text;
    margin-left: 55px;
    align-items: center;
    position: relative;
    top: 20px;
    bottom: 30px;
  }

  &__checkbox-square-hidden {
    visibility: hidden;
    position: absolute;
  }

  &__checkbox-icon {
    position: absolute;
    margin-top: 4px;
    margin-left: 0.5px;
    margin-bottom: 3px;
    visibility: hidden;
    fill: $color-white;
    border-radius: 2px;
    transition-property: background-color, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__checkbox-icon-empty {
      position: relative;
    }
  }

  .input__checkbox-square-hidden:checked ~ .input__checkbox-icon {
    visibility: visible;
    background-color: $color-primary;
  }

  &__statement {
    margin-left: 15px;
    margin-bottom: 3px;
  }

  &__statement-style {
    color: $color-primary;
    text-decoration: underline;
  }

  &__button-send {
    width: 200px;
    height: 50px;
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0 auto;
  }

  &__button-style {
    display: flex;
    justify-content: center;

    background: $color-primary;
    color: $color-white;
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    margin-top: 30px;
    margin-bottom: 46px;
    padding-left: 75px;
    padding-top: 10px;
  }
}

input {
  width: 448px;
  height: 40px;
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  input:focus-within,
  input:hover {
    border: 1px solid $color-primary;
    outline: none;
  }
}
input:hover + .input__icon,
input:focus-within + .input__icon {
  fill: $color-primary;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  margin-top: 4px;
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  textarea:focus {
    border: 1px solid $color-primary;
    outline: none;
  }

  textarea:hover {
    border: 1px solid $color-primary;
    outline: none;
  }
}

label {
  display: block;
  margin-top: 10px;
  margin-left: 40px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $color-text;
}

.modal-close {
  position: relative;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 480px;
  background-color: $color-white;
  fill: $color-white;
  border: none;
  cursor: pointer;
}
