.join-us {
  &__sm-icon-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding-left: 70px;
  }

  @include tablet {
    margin-bottom: 65px;
    margin-left: 144px;
    justify-content: center;
  }

  @include desktop {
    margin-left: 0px;
  }
}

&__title {
  color: $color-white;
  padding-left: 70px;
  padding-bottom: 20px;
}

&__social-media-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-text;
  padding-top: 12px;
  padding-left: 12px;
  border-radius: 50%;
  background-color: $color-icon;

  &:hover {
    background-color: $color-primary;
    cursor: pointer;
  }
}

&__social-media-icon {
  fill: $color-white;
  width: 20px;
  height: 20px;
  align-items: center;
}
