.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: $color-back;
  text-decoration: none;

  &__styles {
    color: $color-primary;
  }
}
