.nav {
  display: none;
  align-items: center;

  @include tablet {
    display: flex;
    margin-left: 83px;
  }

  @include desktop {
    margin-right: 94px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 46px;
  }

  .nav__link {
    color: $color-text;
    font-size: small;
    font-weight: 500;
    line-height: 16px;

    &:hover {
      color: $color-primary;
      border-radius: 2px;
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__text-underline-offset {
    position: relative;
    top: 28px;
  }
  &__text-underline-offset &:after {
    background-color: $color-primary;
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 53px;
    height: 4px;
    border-radius: 2px;
  }
}
