.portfolio {
  &__container-filters {
    margin-top: 94px;
    margin-bottom: 34px;
  }

  &__filters-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__filters-button {
    width: 121px;
    height: 38px;
    left: 532px;
    top: 180px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.03em;

    color: $color-dark;
    background-color: $color-secondary-background;
    border: $color-lorem;

    &:hover {
      background-color: $color-primary;
      color: rgb(236, 238, 240);
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
