.team {
  padding: 94px 0 47px 0;
  background-color: $color-secondary-background;
  margin: auto;

  &__container {
    width: 1200px;
    height: 648px;
    top: 1449px;

    background: $color-secondary-background;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1600px;
  }

  &__title {
    color: $color-black;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    @include desktop {
      padding-top: 34px;
    }
  }

  &__list {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 auto;
    padding-bottom: 60px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 94px;
    }
  }

  &__box-team {
    width: 100%;
    background: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include tablet {
      width: 354px;
    }

    @include desktop {
      width: 270px;
    }
  }
  &__image {
    margin: 0;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;

    color: $color-dark;
    margin-top: 30px;
  }
  &__profession {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-text;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  &__icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    list-style-type: none;
  }

  &__social-media-item a {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  &__social-media-icon {
    fill: $color-icon;
    display: block;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  .team__social-media-item a:hover {
    background-color: $color-primary;
  }

  .team__social-media-item a:hover .team__social-media-icon {
    fill: $color-white;
  }
}
