$color-dark: #212121;
$color-primary: #2196f3;
$color-text: #757575;
$color-light: #e5e5e5;
$color-secondary-background: #f5f4fa;
$color-icon: #afb1b8;
$color-dark-backgorund: #2f303a;
$color-black: #000;
$color-white: #ffffff;
$color-lorem: #f5f4fa;
